{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <div> 
            <a href="https://www.linkedin.com/in/brunoportugalcode/" target=”_blank” >
            <img src="{% static 'assets/ícones/2x/linkedin@2x.png' %}" alt="ícone linkedin">
            </a>
        </div>
        <div> 
            <a href="https://medium.com/@bruno.portugal" target=”_blank” >
            <img src="{% static 'assets/ícones/2x/favorite_outline.png' %}" alt="ícone medium">
            </a>
        </div>
        <div> 
            <a href="https://github.com/PortugalBR/" target=”_blank” >
            <img src="{% static 'assets/ícones/2x/github@2x.png' %}" alt="ícone github">
            </a>
        </div>
    </div>
    <p class="rodape__texto">Desenvolvido por Bruno Portugal</p>
</footer>
